
div.hw-recommendation-head {
    text-align: center;
    width: 460px;
    padding: 5px;
    position: absolute;
    top: 50px;
    right: 5px;
    z-index: 999;
}

table.hw-recommendation {
    margin: 0 auto;
    border: 0;
    color: white;
    width: 440px;
}

tr.hw-recommendation-win {
    background-color: #008000;
}

tr.hw-recommendation-lose {
    background-color: #800000;
}
tr.hw-recommendation {
    margin: 3px;
}
th .hw-recommendation {
    text-align: center;
    font-weight: bold;
    padding: 3px;
    color: #ffffff;
    background-color: #ccccff;
}

th.hw-recommendation:first-child {
    border-radius: 12px 0 0 12px;
    padding-left: 14px;
}

th.hw-recommendation:last-child {
    border-radius: 0 12px 12px 0;
    padding-right: 14px;
}

th.hw-recommendation:first-child:last-child {
    border-radius: 12px;
}

div.hw-recommendation {
    overflow-y: auto;
    scrollbar-width: thin;
    min-width: 430px;
    width: 430px;
}

td.hw-recommendation-unmatched {
    background-color: rgba(212,212,212, 0.85);
}

span.hw-battle-hero-icon {
    background-size: 30px 30px;
    height: 30px;
    width: 30px;
    margin: 2px;
    background-position: center;
    background-clip: padding-box;
    background-repeat: no-repeat;
    display: inline-block;
}

span.hw-recommendation-unmatched {
    opacity: 60%;
}

img.hw-battle-hero-icon {
    background-size: 30px 30px;
    height: 30px;
    width: 30px;
    margin: 0;
    background-position: center;
    background-clip: padding-box;
    background-repeat: no-repeat;
    display: inline-block;
}
